<div class="owl-carousel owl-banner owl-theme" style="display: block; opacity: 1;">
    <% for(var i=0;i<swiper.length;i++){ let {id, image, title, caption, caption2 }=swiper[i]; if(i==0){ %>
        <div class="owl-wrapper-outer">
            <div class="owl-wrapper"
                style="width: 5788px; left: 0px; display: block; transition: all 1000ms ease 0s; transform: translate3d(0px, 0px, 0px);">
                <div class="owl-item" style="width: 1447px;">
                    <div class="item">
                        <div class="bg" style="background-image: url(<%=$root%>img/<%=image%>)">
                        </div>
                        <div class="container text-center">
                            <div class="wrap">
                                <h1>
                                    <%=title%>
                                </h1>
                                <p class="lead" style="margin-top: 5%; margin-left: 50%; ">
                                    <%=caption%>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } else { %>
            <div class="owl-controls clickable">
                <div>
                    <div class="owl-item" style="width: 1447px;">
                        <div class="item">
                            <div class="bg" style="background-image: url(<%=$root%>img/2.jpg)">
                            </div>
                            <div class="container text-center">
                                <div class="wrap">
                                    <h1>
                                        <%=title%>
                                    </h1>
                                    <p class="lead" style="text-align: left; margin-top: 5%; margin-left: 50%;">
                                        <%=caption%>
                                    </p>
                                    <p class="lead" style="text-align: left; margin-left: 50%;">
                                        <%=caption2%>
                                    </p>
                                    <!-- <a href="http://demoall.dedecms58.com/42935/#" class="btn">查看详情</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%} } %>
</div>

<div class="section">
    <% let {id, image, content, content1, content2 }=about; %>
        <div class="container">
            <div class="row">
                <div class="section-title" data-aos="fade-up">
                    <h3>企业简介</h3>
                    <h3 style="color: darkgray;">About us</h3>
                    <img class="mod-image" src="<%=$root%>img/biaoti.png" />
                </div>
                <div class="col-sm-8" data-aos="fade-up">
                    <div class="paragraph">
                        <p>
                            <%=content%>
                        </p>
                        <p>
                            <%=content1%>
                        </p>
                    </div>
                </div>
                <div class="col-sm-4  mypicture" style="padding: 2px;" data-aos="fade-down">
                    <img src="<%=$root%>img/<%=image%>"></img>
                </div>
            </div>
        </div>
</div>

<div class="section" style="background-color:whitesmoke; background-image: url(<%=$root%>img/beijing2.jpg);">
    <div class="container">
        <div class="section-title" data-aos="fade-up">
            <h3 style="color: white; font-weight: 900;">产品展示</h3>
            <h3 style="color: darkgray;">Product center</h3>
            <img class="mod-image" src="<%=$root%>img/biaoti.png" />
        </div>
        <div class="lunbo  clearfix" id="box">

            <% for(var i=0;i<product.length;i++){ let {id, image, title }=product[i]; %>
                <div style="text-align: center;" data-aos="flip-left">
                    <div class="mypicture" style="margin: 1rem;">
                        <img src="<%=$root%>img/<%=image%>" alt="<%=title%>">
                    </div>
                    <div class="list_eye"> <span style="color:white;">
                            <%=title%>
                        </span> </div>
                </div>
                <%} %>
        </div>
    </div>
</div>

<div class="section  " style="background-color:whitesmoke;">
    <div class="container">
        <div class="section-title aos-init aos-animate" data-aos="fade-up">
            <h3 style="color:black; font-weight: 900;">生产车间</h3>
            <h3 style="color: darkgray;">Production center</h3>
            <img class="mod-image" src="<%=$root%>img/biaoti.png" />
        </div>
        <div class="lunbo clearfix" id="box">

            <% for(var i=0;i<workshop.length;i++){ let {id, image, title }=workshop[i]; %>
                <div style="text-align: center;" data-aos="flip-left">
                    <div class="mypicture" style="margin: 1rem; ">
                        <img src="<%=$root%>img/<%=image%>" alt="<%=title%>">
                    </div>
                    <div class="list_eye">
                        <span style="color:black;">
                            <%=title%>
                        </span>
                    </div>
                </div>
                <%} %>
        </div>
    </div>
</div>

<div class="city">
    <div class="container">
        <div class="center clearfix">
            <h3>友情链接：</h3>
            <div class="flink_list">
                <ul>
                    <li> <a href="http://www.baidu.com/" target="_blank">百度一下</a> </li>

                    <li> <a href="http://www.ejucms.com/" target="_blank">易居CMS</a> </li>

                    <li> <a href="http://www.ebuycms.com/" target="_blank">易购CMS</a> </li>

                    <li> <a href="http://www.eyoucms.com/" target="_blank">易优CMS</a> </li>

                    <li> <a href="http://www.yiyongtong.com/" target="_blank">小程序</a> </li>

                    <li> <a href="http://www.sucai58.com/" target="_blank">素材58</a> </li>

                    <li> <a href="http://www.dede58.com/" target="_blank">织梦模板</a> </li>

                    <li> <a href="http://www.taobao.com/" target="_blank">淘宝</a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>