<!-- lunbo -->
<div class="owl-carousel owl-banner owl-theme" style="display: block; opacity: 1;">
    <% for(var i=0;i<swiper.length;i++){ let {id, image, title, caption, caption2 }=swiper[i]; if(i==0){ %>
        <div class="owl-wrapper-outer">
            <div class="owl-wrapper"
                style="width: 5788px; left: 0px; display: block; transition: all 1000ms ease 0s; transform: translate3d(0px, 0px, 0px);">
                <div class="owl-item" style="width: 1447px;">
                    <div class="item">
                        <div class="bg" style="background-image: url(<%=$root%>img/<%=image%>)">
                        </div>
                        <div class="container text-center">
                            <div class="wrap">
                                <h1>
                                    <%=title%>
                                </h1>
                                <p class="lead" style="margin-top: 5%; margin-left: 50%; ">
                                    <%=caption%>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } else { %>
            <div class="owl-controls clickable">
                <div>
                    <div class="owl-item" style="width: 1447px;">
                        <div class="item">
                            <div class="bg" style="background-image: url(<%=$root%>img/<%=image%>)">
                            </div>
                            <div class="container text-center">
                                <div class="wrap">
                                    <h1>
                                        <%=title%>
                                    </h1>
                                    <p class="lead" style="text-align: left; margin-top: 5%; margin-left: 50%;">
                                        <%=caption%>
                                    </p>
                                    <p class="lead" style="text-align: left; margin-left: 50%;">
                                        <%=caption2%>
                                    </p>
                                    <!-- <a href="http://demoall.dedecms58.com/42935/#" class="btn">查看详情</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%} } %>
</div>

<!-- about -->
<div class="section" >
    <% let {id, image, content, content1, content2 }=about; %>
        <div class="container" >
            <div class="row" data-aos="fade-up">
                <div class="section-title" style="margin-bottom: 2rem;" >
                    <h3>企业简介</h3>
                    <h3 style="color: darkgray;">About us</h3>
                    <img class="mod-image" src="<%=$root%>img/biaoti.png" />
                </div>
                <div class="col-sm-8" data-aos="fade-up">
                    <div class="paragraph">
                        <p>
                            <%=content%>
                        </p>
                        <p>
                            <%=content1%>
                        </p>
                    </div>
                </div>
                <div class="col-sm-4  mypicture" style="padding: 2px;" >
                    <img src="<%=$root%>img/<%=image%>"></img>
                </div>
            </div>
            <div class="js uu" style="background-color: #f4f4f4; margin: 20rem 0;" data-aos="fade-up">
                <ul>
                    <li>
                        <b>23</b>
                        <dt>23年制板经验</dt>
                    </li>
                    <li>
                        <b>30</b>
                        <dt>30多道生产工序</dt>

                    </li>
                    <li>
                        <b>150</b>
                        <dt>年产量达150万张</dt>
                    </li>
                    <li>
                        <b>24</b>
                        <dt>24小时售后服务</dt>
                    </li>
                </ul>
            </div>
          
        </div>
</div>

<!-- latest news -->





<!-- product -->
<div class="section" style="background-color:whitesmoke; background-image: url(<%=$root%>img/beijing2.jpg);">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h3 style="color: white;">产品展示</h3>
            <h3 style="color: darkgray;">Product center</h3>
            <img class="mod-image" src="<%=$root%>img/biaoti.png" />
        </div>
        <div class="lunbo  clearfix" id="box">

            <% for(var i=0;i<product.length;i++){ let {id, image, title }=product[i]; %>
                <div style="text-align: center;" data-aos="flip-left">
                    <div class="mypicture" style="margin: 0 1rem 0 1rem ;">
                        <img src="<%=$root%>img/<%=image%>" alt="<%=title%>">
                    </div>
                    <div style="background-color:azure; margin: 0 1rem;  padding: 1rem 0;">
                        <span style="color:black;  font-size:1.2rem; ">
                            <%=title%>
                        </span>
                    </div>
                </div>
                <%} %>
        </div>
    </div>
</div>
<!-- latest news -->
<div class="js" data-aos="fade-up" style="background-color: #f4f4f4;">
    <h3>技术创新·引领环保</h3>
    <h3>INNOVATION &amp; ENVIRONMENTAL
        PROTECTON</h3>
    <div>
        <ul>
            <li>
                <img src="<%=$root%>img/jxx4.jpg"></img>
                <div>实力雄厚</div>
            </li>
            <li>
                <img src="<%=$root%>img/jxx1.jpg"></img>
                <div>先进设备</div>
            </li>
            <li>
                <img src="<%=$root%>img/jxx2.jpg"></img>
                <div>选材优良</div>
            </li>
            <li>
                <img src="<%=$root%>img/jxx3.jpg"></img>
                <div>保障质量</div>
            </li>

        </ul>
    </div>
</div>



<!-- hezuo -->
<div class="section">
    <div class="container">
        <div class="section-title" data-aos="fade-up">
            <h3>合作案例</h3>
            <h3 style="color: darkgray;">ENGINEERING CASE</h3>
            <img class="mod-image" src="<%=$root%>img/biaoti.png" />
        </div>
        <div style="margin-top:20px;margin-bottom:13%;">
            <div style="width:47%;float:left; margin: 0.2rem;" data-aos="flip-left">
                <img style="width:100%;height:100%;" src="<%=$root%>img/anli1.jpg">
            </div>
            <div style="width:23%;float:left; margin: 0.2rem;" data-aos="fade-up">
                <img style="width:100%;height:100%;" src="<%=$root%>img/anli2.jpg">
            </div>
            <div style="width:23%;float:left; margin: 0.2rem;" data-aos="fade-up">
                <img style="width:100%;height:100%;" src="<%=$root%>img/anli3.jpg">
            </div>
            <div style="width:23%;float:left; margin: 0.2rem;" data-aos="fade-up">
                <img style="width:100%;height:100%;" src="<%=$root%>img/anli4.jpg">
            </div>
            <div style="width:23%;float:left; margin: 0.2rem;" data-aos="fade-up">
                <img style="width:100%;height:100%;" src="<%=$root%>img/anli5.jpg">
            </div>
        </div>
    </div>
</div>

<div class="city">
    <div class="container">
        <div class="center clearfix">
            <h3>友情链接：</h3>
            <div class="flink_list">
                <ul>
                    <li> <a href="http://www.baidu.com/" target="_blank">百度一下</a> </li>

                    <li> <a href="http://www.ejucms.com/" target="_blank">易居CMS</a> </li>

                    <li> <a href="http://www.ebuycms.com/" target="_blank">易购CMS</a> </li>

                    <li> <a href="http://www.eyoucms.com/" target="_blank">易优CMS</a> </li>

                    <li> <a href="http://www.yiyongtong.com/" target="_blank">小程序</a> </li>

                    <li> <a href="http://www.sucai58.com/" target="_blank">素材58</a> </li>

                    <li> <a href="http://www.dede58.com/" target="_blank">织梦模板</a> </li>

                    <li> <a href="http://www.taobao.com/" target="_blank">淘宝</a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>